<h2>My Pok&eacute;dex</h2>

<% @pokemons.each do |pokemon| %>
  <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a>
  <br>
<% end %>

<br>

<form action="/pokemon/new" method="get">
  <input class="button" type="submit" value="Add Pok&eacute;mon">
</form>
