<h2>My Pokedex</h2>

<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <a href="/pokemon/<%= pokemon.id %>">
        <%= pokemon.name %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/pokemon/new">Add</a>
